<div class="row">
  <div class="col-md-10">
    <ol class="breadcrumb">
      <li><%= t("users.list") %></li>
    </ol>
  </div>
  <div class="col-md-2 pull-right text-right">
    <a type="button" class="btn btn-primary full-width" href="<%= new_user_path %>"><%= t("users.create") %></a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <% if @users.total_entries > 0 %>
      <table class="table table-striped table-bordered">
        <thead>
          <th class="col-md-4"><%= t('.email') %></th>
          <th class="col-md-3"><%= t('.fullname') %></th>
          <th class="con-md-2"><%= t('.status') %></th>
          <th class="col-md-2"><%= t('.group') %></th>
          <th class="con-md-1"><%= t('.common.action') %></th>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr>
              <td><%= display_long_string(u.email,30) %></td>
              <td><%= display_long_string(u.full_name,30) %></td>
              <td><%= u.published? ? t("common.published") : t("common.unpublished") %></td>
              <td><%= u.roles[0].name.classify %></td>
              <td>
                <%= link_to '', user_path(u), :class => "glyphicon glyphicon-th-large", :title => t(".title.view") %>

                <%= link_to '', edit_user_path(u), :class => "glyphicon glyphicon-pencil", :title => t(".title.edit"), :id => "btn-edit-#{u.id}" %>
                <% action = u.published? ? 'unpublish' : 'publish' %>
                <% text_color = !u.published? ? 'text-muted' : '' %>
                <%= link_to '', {:action => :toggle_status, :id => u.id, :page => @page}, :method => :put, :class => "glyphicon glyphicon-ok #{text_color}", :title => t(".title.#{action}"), data: {:confirm => t(".confirm.#{action}", :name => u.name)}, :id => "btn-status-#{u.id}" %>
                <%= link_to '', {:action => :destroy, :id => u.id, :page => @page}, :method => :delete, :class => "glyphicon glyphicon-trash", :title => t(".title.delete"), data: {:confirm => t(".confirm.delete", :name => u.name)}, :id => "btn-delete-#{u.id}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= t(".no_user") %>
    <% end %>
  </div>
  <% if @users.total_entries > 0 %>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-6">
          <div class='pagination-info'>
            <%= page_entries_info(@users) %>
          </div>
        </div>
        <div class="col-md-6 pull-right text-right">
          <%= will_paginate(@users, renderer: BootstrapPagination::Rails, bootstrap: 3) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
