<div class = "row normal-form" id = "new_password_wrapper">
  <div class = "row">
    <h3><%= t("devise.passwords.forgot_password") %></h3>
  </div>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "user-form"}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class = "row">
      <div class = "col-md-6">
        <div class = "row">
          <%= f.label :password %>
        </div>
        <div class = "row">
          <%= f.password_field :password, :autofocus => true, :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-6">
        <div class = "row">
          <%= f.label :password_confirmation %>
        </div>
        <div class = "row">
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
      </div>
    </div>
    <br/>
    <div class = "row">
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>